.mainDiv{
  border-top:15px solid #272951;
  border-left:15px solid #272951;
  border-right:15px solid #272951;
  background-image: linear-gradient(to bottom, #f0f1f3, #d0d3d5);
  border-radius:20px;
}
.heading{
  color:#454969
}
.text{
 font-size: 14px;
}
.inputType{
  width:60% !important;
  margin-left:15% !important;
  border:1px solid grey
}
.typeInputType{
  margin-left:28% !important;
}
.whatsAppType{
  margin-left:30% !important;

}
.phoneType{
  margin-left:25% !important;
}
.nameType{
  margin-left:26% !important;

}